<!--Durrrrr how to put yaml into args for static transform publisher-->
<launch>
  <param name="/robot_description" textfile="$(find baxter_demos)/config/baxter.urdf"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="baxter_state_pub">  
    <remap from="joint_states" to="/robot/joint_states"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_cam_broadcaster" args="0.21137702435, 0.0884413801763, 0.532847887486, -0.0181647233848, 0.540234740271, -0.0248631559153, 0.840950825974 base camera_link 100"/>


</launch>
