<!--Durrrrr how to put yaml into args for static transform publisher-->
<launch>
  <include file="$(find freenect_launch)/launch/freenect.launch"/>
  
  <arg name="transformation" />

  <node pkg="tf" type="static_transform_publisher" name="base_cam_broadcaster" args="1.50854462496, 0.280429286974, 0.454355137179, 0.263963784152, 0.0598209178684, -0.945353449074, 0.181800535655 base camera_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="cambox_joint_broadcaster" args="0.131501, 0.005998, 0.520422, 0, 0, 0, 1 torso camera_box 100" />


</launch>
