<!--TODO: modify robot_description using xacro to include Kinect-->
<launch>
  <include file="$(find openni_launch)/launch/openni.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="base_cam_broadcaster args=0.344, -0.058, -0.360 0.008, -0.499, -0.011, 0.867 base camera_link 100"

</launch>
