<!--Durrrrr how to put yaml into args for static transform publisher-->
<launch>
  <param name="/robot_description" textfile="$(find baxter_demos)/config/baxter.urdf"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="baxter_state_pub">  
    <remap from="joint_states" to="/robot/joint_states"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_cam_broadcaster" args="0.108492675003, 0.025120406408, 0.477354689109, -0.031881432712, 0.450723031614, 0.0252073287829, 0.891738141831 base camera_link 100"/>


</launch>
