<launch>

  <arg name="limb"     default="right"/>
  <arg name="method"   default="star"/>
  <arg name="folder"   default="$(find baxter_demos)/assets/"/>
  <include file="$(find baxter_demos)/launch/object_finder.launch"/>

  <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>

  <param name="object_tracker/config_folder" value="$(find baxter_demos)/config/"/>

  <node pkg="baxter_demos" name="estimate_depth" type="estimate_depth.py"
  args="--limb $(arg limb)" />

  <node pkg="baxter_demos" name="servo_to_object" type="servo_to_object.py"
args="--limb $(arg limb) --folder $(arg folder)" required="true">

  </node>

</launch>
