<launch>

  <arg name="limb"     default="right"/>
  <arg name="method"   default="color"/>
  <arg name="folder"   default="$(find baxter_demos)/assets/"/>

  <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>

  <param name="object_tracker/config_folder" value="$(find baxter_demos)/config/"/>

  <node pkg="baxter_demos" name="object_finder" type="object_finder.py"
  args="--limb $(arg limb) --method $(arg method)" required="true">
  </node>
  
  <node pkg="baxter_demos" name="estimate_depth" type="estimate_depth.py"
  args="--limb $(arg limb)" />

  <node pkg="baxter_demos" name="servo_to_object" type="servo_to_object.py"
args="--limb $(arg limb) --folder $(arg folder)" required="true">

</node>



</launch>
