
<launch>

  <arg name="limb"     default="right"/>
  <arg name="method"   default="color"/>
  <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>

  <param name="object_tracker/config_folder" value="$(find baxter_demos)/config/"/>

  <include file="$(find baxter_demos)/launch/goal_object_detector.launch" />

  <node pkg="baxter_demos" name="servo_to_object" type="stackit.py"
    args="--limb $(arg limb) --visualize true" required="true"/>

  <rosparam command="load" file="$(find baxter_demos)/config/servo_to_object.yaml" />

 
</launch>
